/* 
  mobile: 375x640 - 414x896
  tablet: 601x962 - 1280x800
  desktop: 1024x768 - 1920x1080
*/
/* fonts */
@font-face {
  font-family: HomepageBaukasten-Book;
  src: url(./fonts/HomepageBaukasten-Book.woff);
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap');

* {
  padding: 0;
  margin: 0;
}

/* header */
header {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  margin: 0 auto 69px auto;
  width: 95%;
}
.mobile-logo{
  display: block;
  margin: auto;
  max-width: 25px;
  padding-top: 28px;
}
.main-header {
  font-family: HomepageBaukasten-Book, Arial, Helvetica, sans-serif;
  font-size: 19px;
  font-weight: 100;
  letter-spacing: 1px;
  padding-top: 26px;
  text-align: center;
}

/* content */
.content-header {
  font-family: 'Montserrat', sans-serif;
  font-size: 29px;
  font-weight: 300;
  line-height: 40px;
  margin: 0 auto 109px auto;
  width: 314px;
}
.underlined-text {
  border-bottom: 1.5px solid #000;
  padding-bottom: 3.5px;
}

/* article */
.main-content {
  width: 100%;
}
.article-container {
  margin: auto;
  width: 90%;
}
.article-content {
  width: max-content;
  margin: 0 auto 56px auto;
}
.article-header {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 23px;
  margin-top: 10px;
  padding-bottom: 10px;
  width: 190px;
}
.article-tag {
  color: #727272;
  font-family: 'Raleway', sans-serif;
  font-size: 10px;
  letter-spacing: 1.1px;
  line-height: 11px;
}

/* more section */
.more-button {
  background-color: #fff;
  border-style: none none solid none;
  border-width: 1px;
  border-color: #000;
  cursor: pointer;
  display: block;
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 15px;
  margin: auto;
  outline: none;
  padding-bottom: 4.5px;
}

/* about */
.about-section {
  background-color : #000;
  margin-top: 52.5px;
  padding-top: 81px;
}
.about-container {
  margin: auto;
  width: 80%;
}
.about-text {
  bottom: 20px;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 35px;
  margin: auto;
  position: relative;
  text-align: center;
  width: 90%;
}
.about-image-right {
  display: block;
  margin-left: auto;
  margin-top: 10px;
}
/* footer */
footer {
  background-color: #000;
  padding-top: 81px;
  padding-bottom: 35px;
}
.footer-container {
  display: grid;
  grid-auto-flow: dense;
  grid-template-columns: 1fr;
}
.footer-container div:first-child {
  grid-row: 2;
}
footer a {
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 23px;
  padding-bottom: 10px;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: .3s ease;
}
footer a:hover {
  text-decoration-color: #fff;
}
.footer-left,
.footer-right {
  display: grid;
}