/* tablet */
@media screen and (min-width: 900px) {
  .main-header {
    font-size: 25px;
  }
  .main-content {
    margin: auto;
    width: 80%;
  }
  .content-header {
    font-size: 35px;
    line-height: 60px;
    margin: 0;
    width: 700px;
  }
  .article-image {
    width: 100%;
  }
  .article-container {
    margin-top: 175px;
    max-width: 650px;
  }
  .article-content {
    width: 90%;
  }
  .article-header {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 2px;
    width: 250px;
  }
  .article-tag {
    font-size: 12px;
    line-height: 16px;
  }
  .middle {
    grid-column: 1 / 3;
  }
  .more-button {
    font-size: 15px;
    line-height: 20px;
    padding-bottom: 5.5px;
  }
  .about-text {
    font-size: 25px;
  }
  .footer-left,
  .footer-right {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .footer-left a,
  .footer-right a {
    font-size: 14px;
  }
  .footer-left {
    margin-top: 20px;
  }
}

/* desktop */
@media screen and (min-width: 1400px) {
  header {
    grid-template-columns: 1fr 10fr 1fr;
    width: 90%;
  }
  .main-header {
    font-size: 31px;
    text-align: left;
  }
  .mobile-logo {
    padding-top: 32px
  }
  .main-content {
    margin: auto;
    width: 85%;
  }
  .article-container {
    display: grid;
    margin-top: 224px;
    max-width: 1300px;
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }
  .content-header {
    font-size: 60px;
    line-height: 80px;
    margin: 0;
    width: 993px;
  }
  .underlined-text {
    border-bottom: 2px solid #000;
    padding-bottom: 4.5px;
  }
  .article-content {
    height: max-content;
    width: 90%;
  }
  .article-image {
    width: max-content;
    max-width: 90%;
  }
  .article-header {
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 2px;
    width: max-content;
  }
  .article-tag {
    font-size: 18px;
    line-height: 21px;
  }
  .middle {
    grid-column: 1 / 3;
    width: 70%;
  }
  .more-button {
    font-size: 21px;
    line-height: 25px;
    padding-bottom: 6.5px;
  }
  .about-container {
    width: 70%;
  }
  .about-section {
    padding-top: 153px;
  }
  .about-text {
    bottom: 120px;
    font-size: 35px;
    line-height: 63px;
    width: 80%;
    z-index: 9;
  }
  .about-image-right {
    bottom: 215px;
    left: 150px;
    position: relative;
  }
  .footer-container {
    grid-auto-flow: row;
    grid-template-columns: 1fr 1fr;
    width: 90%;
    margin: auto;
    padding-top: 0;
  }
  .footer-container div:first-child {
    grid-row: 1;
  }
  .footer-left,
  .footer-right {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .footer-left a {
    text-align: left;
    font-size: 18px;
  }
  .footer-left {
    margin-top: 0;
  }
  .footer-right a {
    font-size: 18px;
  }
}